.switch-button {
  width: 42px;
  height: 42px;
  margin-bottom: 2px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.switch-button img {
  height: 42px;
  width: 42px;
}
